<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
  <!-- ===================================================================== -->
  <!-- COMMANDS / HANDLERS / MENUS                                           -->
  <!-- ===================================================================== -->
	<extension point="org.eclipse.ui.commands">
		<command
			id="com.tlcsdm.eclipse.ucdetector.additional.command.example"
			name="%ExampleAction.label"
			description="%ExampleAction.tooltip"
			categoryId="com.tlcsdm.eclipse.ucdetector.commands.category"/>
		<command
			id="com.tlcsdm.eclipse.ucdetector.additional.command.checkUcdMarker"
			name="%check.ucd.action.label"
			description="%check.ucd.action.label"
			categoryId="com.tlcsdm.eclipse.ucdetector.commands.category"/>
	</extension>

	<extension point="org.eclipse.ui.handlers">
		<handler
			commandId="com.tlcsdm.eclipse.ucdetector.additional.command.example"
			class="com.tlcsdm.eclipse.ucdetector.action.ExampleHandler">
			<enabledWhen>
				<reference definitionId="com.tlcsdm.eclipse.ucdetector.expressions.javaElementOrWorkingSetSelected"/>
			</enabledWhen>
		</handler>
		<handler
			commandId="com.tlcsdm.eclipse.ucdetector.additional.command.checkUcdMarker"
			class="com.tlcsdm.eclipse.ucdetector.action.CheckUcdMarkerHandler">
			<enabledWhen>
				<reference definitionId="com.tlcsdm.eclipse.ucdetector.expressions.javaElementOrWorkingSetSelected"/>
			</enabledWhen>
		</handler>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:com.tlcsdm.eclipse.ucdetector.popupMenu?after=additions"
			allPopups="true">
			<command
				commandId="com.tlcsdm.eclipse.ucdetector.additional.command.example"
				icon="$nl$/icons/example.gif"
				style="push"/>
			<command
				commandId="com.tlcsdm.eclipse.ucdetector.additional.command.checkUcdMarker"
				icon="$nl$/icons/help_search.gif"
				style="push"/>
		</menuContribution>
	</extension>


  <!-- ===================================================================== -->
  <!-- MARKER                                                                -->
  <!-- ===================================================================== -->
  <!-- Example -->
	<extension point="org.eclipse.core.resources.markers"
			id="com.tlcsdm.eclipse.ucdetector.analyzeMarkerExample"
			name="%example.marker.name" >
		<super type="org.eclipse.core.resources.problemmarker"/>
		<super type="org.eclipse.core.resources.textmarker"/>
		<super type="com.tlcsdm.eclipse.ucdetector.analyzeMarker"/>
		<persistent value="true"></persistent>
	</extension>
	  <!-- CheckUcdMarker -->
	<extension point="org.eclipse.core.resources.markers"
	   id="com.tlcsdm.eclipse.ucdetector.analyzeMarkerCheckUcdMarkers"
	   name="%check.ucd.marker.name" >
		<super type="org.eclipse.core.resources.problemmarker"></super>
		<super type="org.eclipse.core.resources.textmarker"></super>
		<super type="com.tlcsdm.eclipse.ucdetector.analyzeMarker"></super>
		<persistent value="true"></persistent>
	 </extension>

  <!-- ===================================================================== -->
  <!-- ANNOTATION TYPES                                                      -->
  <!-- ===================================================================== -->
	<extension point="org.eclipse.ui.editors.annotationTypes">
		<!-- Example -->
		<type name="com.tlcsdm.eclipse.ucdetector.analyzeMarkerExample"
				super="org.eclipse.ui.workbench.texteditor.warning"
				markerType="com.tlcsdm.eclipse.ucdetector.analyzeMarkerExample"/>
		<!-- CheckUcdMarker -->
		<type  markerType="com.tlcsdm.eclipse.ucdetector.analyzeMarkerCheckUcdMarkers"
		      name="com.tlcsdm.eclipse.ucdetector.analyzeMarkerCheckUcdMarkers"
		      super="org.eclipse.ui.workbench.texteditor.warning" />
	</extension>
 
  <!-- ===================================================================== -->
  <!-- ANNOTATION SPECIFICATION                                              -->
  <!-- ===================================================================== -->
  <!-- Example -->
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification annotationType="com.tlcsdm.eclipse.ucdetector.analyzeMarkerExample"
				icon="icons/help_search.gif"
				includeOnPreferencePage="true"
				label="%example.specification.label"/>
		<!-- CheckUcdMarker -->
		<specification annotationType="com.tlcsdm.eclipse.ucdetector.analyzeMarkerCheckUcdMarkers"
		      icon="icons/help_search.gif"
		      includeOnPreferencePage="true"
		      label="%check.ucd.specification.label"/>
	</extension>
 
   <!-- =====================================================================
       UCDETECTOR HEADLESS
       ===================================================================== -->
    <extension point="com.tlcsdm.eclipse.ucdetector.headless">
       <iterator class="com.tlcsdm.eclipse.ucdetector.iterator.CheckUcdMarkerIterator" id="com.tlcsdm.eclipse.ucdetector.additional.check_marker" ordinal="10"></iterator>
    </extension>

  <!-- =====================================================================
       UCDETECTOR REPORTS
       ===================================================================== -->
    <extension point="com.tlcsdm.eclipse.ucdetector.reports">
       <report resultFile="${reportName}_add.txt"
               description="%report.additional.name"
               id="additional" 
               class="com.tlcsdm.eclipse.ucdetector.report.AdditionalReport" >
       </report>
    </extension>
</plugin>
